body{
    width: 100%;
}

.pointer{
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 60px solid transparent; 
    border-bottom: 70px solid rgb(46, 112, 253);
    margin: auto;
}
.text{
    width: 100%;
    color: black;
    background: rgb(46, 112, 253);
    margin: auto;
    padding: 5px;
}
p{
    text-align: center;
    font-size: 40px;
    margin: 10px;
}